# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Build output
out/
target/
build/
bin/
javadoc/
doc/

# OS-specific files
.DS_Store
Thumbs.db

# Others
*.jar
.classpath
.project
*.class
*.db
*.properties
